<h2>Your Pins</h2>

<div class="card-deck mb-5">

<% if @pins.length!=0 %>
<% @pins.each do |pin| %>
<div class="col-lg-3 col-md-6">

  <div class="card">
  <%= image_tag(pin.img_url, :class => "card-img-top") %>
    <div class="card-body">
      <h5 class="card-title"><%= link_to pin.title, pin_path(pin) %></h5>
      <p class="card-text"><%= pin.text %> </p>
            <footer class="blockquote-footer">
        <small class="text-muted">
          Pin by <%= pin.user.username %> | <%= time_ago_in_words(pin.created_at) %> ago, <%= pin.comments.count %> comment<%="s" if pin.comments.count!=1 %>
          </small>
      </footer>
    </div>
  </div>
</div>
  <% end %>
  </div>

  <% else %>

  <h6>You don't have any pins yet. Head <%=link_to "here", pins_path %> to start adding pins! </h6>

  <% end %>

<h2 class="mb-3">Your Comments</h2>

<% @comments.each do |comment | %>
<div class="col-lg-3 col-md-6">

  <div class="card">
    <div class="card-body">
      <p class="card-text">      
      <span class="text-muted">"</span><%= comment.text %><span class="text-muted">"</span></p>
            <footer class="blockquote-footer">
        <small class="text-muted">
          on <%= link_to comment.pin.title, pin_path(comment.pin) %>, <%= time_ago_in_words(comment.created_at) %> ago
          </small>
      </footer>
    </div>
  </div>
</div>


<% end %>