<h1>Editing Pin</h1>


<%= form_with scope: :pin, model: @pin, local: true do |form| %>

	<p>
		<%= form.label :title %><br>
		<%= form.text_field :title %>
	</p>

	<p>
		<%= form.label :image_url %><br>
		<%= form.text_field :image_url%>
	</p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Show', @pin %> |
<%= link_to 'Back', pins_path %>