<h1>Edit Pin</h1>
<%= simple_form_for @pin do |f| %>
  <%= f.input :caption %>
  <%= f.input :category %>
  <%= f.input :photo_url %>
  <%= f.button :submit %>
<% end %>
<%= link_to 'Back', pins_path %>
