<h1>Edit Pin</h1>
<%= form_for :pin, url: pin_path(@pin), method: :patch do |f| %>
  <% if @pin.errors.any? %>
    <% @pin.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, {:class => "form-control"} %>
  </p>
  <p>
    <%= f.label :image_url %><br>
    <%= f.text_field(:image_url, {:class => "form-control"}) %>
  </p>

  <p>
  <%= f.submit({:class => "btn btn-primary"}) %>
  </p>
<% end %>
