<h1>Listing pins</h1>
<% if user_signed_in? %>
<%= link_to 'New Pin', new_pin_path %>
<% end %>
<% if !user_signed_in? %>
<%= link_to 'log in', new_user_session_url %>

<% end %>

<table>
  <tr>
    <th>Title</th>
    <th>Image</th>
    <th></th>
  </tr>

  <% @pins.each do |pin| %>
    <tr>
      <td><%= pin.title %></td>
      <td><%= pin.image %></td>
      <td><%= link_to 'Show', pin_path(pin) %></td>
      <td><%= link_to 'Edit', edit_pin_path(pin) %></td>
      <td><%= link_to 'Destroy', pin_path(pin),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <%= link_to 'log out', destroy_user_session_url, method: :delete %>

</table>