<p id="notice"><%= notice %></p>

<h1>Pins</h1>
<div style="display:flex; flex-wrap: wrap">
<% @pins.each do |pin| %>
      <div class="card small" style="width: 18rem; margin: 2rem">
        <div class="card-image">
          <%= image_tag pin.image_url %>

          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p><%= pin.title %></p>
        </div>
        <div class="card-action">
         <% if user_signed_in? %>
              <% if pin.users.include? current_user %>
                  <span class="badge">Pinned!</span>
              <% else %>
                  <%= form_with(url: "/pinit/#{pin.id}", method: "post") do %>
                    <%= submit_tag("Pin It!") %>
                  <% end %>
              <% end %>
          <% end %>
          <%= link_to 'Show', pin %>
          <%= link_to 'Edit', edit_pin_path(pin) %>
          <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
<% end %>
</div>
<br>

<%= link_to 'New Pin', new_pin_path %>
