<h1>Listing ALL Pins</h1>

<table>
  <tr>
    <th>media_url</th>
    <th>caption</th>
    <th></th>
  </tr>

  <% @pins.each do |pin| %>
    <tr>
      <td><%= pin.media_url %></td>
      <td><%= pin.caption %></td>

<!--       SHOW ONE pin -->
      <td><%= link_to 'Show', pin_path(pin) %></td>

      <!-- EDIT one pin -->
      <td><%= link_to 'Edit', edit_pin_path(pin) %></td>

      <!-- DELETE a pin -->
      <td><%= link_to 'Destroy', pin_path(pin),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Pin', new_pin_path %>

<%= link_to 'log out', destroy_user_session_url, method: :delete %>
