<p id="notice"><%= notice %></p>

<h1>Pins</h1>
<%= link_to 'New Pin', new_pin_path %>
<%= link_to 'log out', destroy_user_session_url, method: :delete %>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <td><%= pin.title %></td>
        <td><img src = "<%= pin.image%>" height = "500px" width = "500px"></img></td>

        <td><%= link_to 'Show', pin %></td>
        <td><%= link_to 'Edit', edit_pin_path(pin) %></td>
        <td><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


