<div>
<h1> Welcome to Pinspiration</h1>
</div>

<div>
    <button>
    <%= link_to "Add a New Pin", new_pin_path %>
    </button>
</div>


<div>
    <%= @pins.each do |pinimage| %>
</div>


 <div>
    <p><%=pinimage.title%></p>
    <p><a href=<%=pin_path(pinimage)%>></p>
    <img src="<%=pinimage.media_url%>" width="auto" height="200" border="2" />
</div>


<% end %>