<p id="notice">
		<%= notice %>
</p>
<h1>Pins</h1>
<div>
		<div class="pins__container">
				<% @pins.each do |pin| %>
				<div class="pin-title__container">
						<h2 class="pin-title__header">
								<%=pin.title%>
						</h2>
				</div>
				<div class="pin-image__container">
						<%=image_tag(pin.image_url)%>
				</div>
				<tr>
						<td>
								<%= link_to 'Show', pin %>
						</td>
						<td>
								<%= link_to 'Edit', edit_pin_path(pin) %>
						</td>
						<td>
								<%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
						</td>
				</tr>
				<% end %>
		</div>
</div>
<br>
<%= link_to 'New Pin', new_pin_path %>