<h1>All Pins </h1>

<table class="table">

<div class="album text-muted">
	<div class= "container" >
		<div class="row justify-content-center">
	<% @pins.each do |pin| %>
	<div class="card">

			<%= pin.title %>
      <%= image_tag pin.image_url,:size => "300x300" %>
			<%= link_to 'Show',pin_path(pin) %>
			<%= link_to 'Edit', edit_pin_path(pin) %>
			<%= link_to 'Destroy', pin_path(pin),
				method: :delete,
				data: { confirm: 'Are you sure?' } %>
		</div>
	<% end %>
		</div>
	</div>
</div>

</table>


<%= link_to 'New Pin', new_pin_path %>
<%= link_to 'Log Out', destroy_user_session_url, method: :delete %>
<%= link_to 'Log In', new_user_session_url %>