<head>

</head>
<body>
    <h1>Hellooo Pins</h1>


    <% if user_signed_in? %>
        <%= link_to 'Create New Pin', new_pin_path %>
        <%= link_to 'log out', destroy_user_session_url, method: :delete %>
    <% else %>
        <%= link_to 'log in', new_user_session_url %>
    <% end %>

    <hr>
    <body>
        <% @pins.each do |pin| %>
            <div>
                <br>
                <h3><%= pin.title %></h3>
                <h4><%= pin.description %></h4>
                <img src=<%= pin.image_url %> >
                <br>
                <%= link_to 'Show', pin_path(pin) %>
                <%= link_to 'Edit', edit_pin_path(pin) %>
                <%= link_to 'Destroy', pin_path(pin),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
                <br>
                <hr>
            </div>
        <% end %>
    </body>

</body>