<div class="row mt-5">
	<div class="col-12 text-center">
			<h1>Pinstrest Clone</h1>
	</div>
</div>

<div class="row pt-2 pb-2">

		<% if user_signed_in? %>
		<div class="col-6 text-center">
		<button>
		<%= link_to 'New pin', new_pin_path %>
		</button>
		</div>
		<div class="col-6 text-center">
		<%= link_to 'log out', destroy_user_session_url, method: :delete %>
		</div>
		<% else %>
		<div class="col-12 text-center">
			<div>Hello guest Please <%= link_to 'log in', new_user_session_url %></div>
		</div>
		<% end %>

</div>


		<%= link_to 'Sort By pin title held Ascending', root_path(type: "pinSort", sequence: "asc") %>
		<%= link_to 'Sort By pin title held Descending', root_path(type: "pinSort", sequence: "desc") %>


<div class="row border">
  <% @pins.each do |pin| %>
    <div class="col-4 border text-center pt-3 pb-3">
    	<div class="row">
    		<div class = "col-12 text-center">
      		<p><%= pin.title %></p>

      	</div>
      </div>

      <div class="row justify-content-center	">
      	<div class="col-2">
      		<p><%= link_to 'V', pin_path(pin) %></p>
    		</div>

    		<div class="col-2">
      		<p><%= link_to 'E', edit_pin_path(pin) %></p>
    		</div>

    		<div class="col-2">
      		<p><%= link_to 'D', pin_path(pin),
        	method: :delete,
        	data: { confirm: 'Are you sure?' } %></p>
      	</div>
    	</div>
    </div>
  <% end %>
</div>