<%= link_to 'log in', new_user_session_url %>
<%= link_to 'log out', destroy_user_session_url, method: :delete %>

<% if user_signed_in? %>
<%= link_to 'New Pin', new_pin_path %>
<% end %>

<% @pins.each do |p| %>
  <div class="card my-3" id="myID" style="width: 18rem">
    <img src=<%= p.url %> class="card-img-top"/>
    <div class="card-body">
      <h5 class="card-title">
        <%= p.title %><br/>
        <small class="text-muted"><%= pin.title %></small>
      </h5>
      <p>
      <%= link_to 'Edit', edit_pin_path(pin), class: 'btn btn-secondary'%>
      <%= link_to 'Delete', pin_path(pin), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </p>
    </div>
  </div>
<% end %>
