<p id="notice"><%= notice %></p>

<h1>Pins</h1>

<div class="card-columns d-inline-block">
<% if user_signed_in?%>
  <% @pins.where(:user_id =>current_user.id).each do |pin| %>
      <div class="card text-center">
        <img class="card-img-top" src=<%= pin.img_url %> alt=<%= pin.name %>>
        <div class="card-body">
          <h3 class="card-title"><%= pin.name %></h3>
          <%= link_to "More", pin_path(pin), :class => "btn btn-primary" %>
        </div>
        <div class="card-footer">
          <div>
            <small class="text-muted">Last updated on <%= pin.updated_at.to_s(:db) %></small>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
  <% @pins.each do |pin| %>
    <div class="card text-center">
      <img class="card-img-top" src=<%= pin.img_url %> alt=<%= pin.name %>>
      <div class="card-body">
        <h3 class="card-title"><%= pin.name %></h3>
        <%= link_to "More", pin_path(pin), :class => "btn btn-primary" %>
      </div>
      <div class="card-footer">
        <div>
          <small class="text-muted">Last updated on <%= pin.updated_at.to_s(:db) %></small>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>

</div>

<%= link_to 'New Pin', new_pin_path %>
