<h1 class="display-4">Pinspiration</h1>

<div class="card-columns">
	<% @pins.each do |pin| %>
		<div class="card">
	    <a href="/pins/<%= pin.id %>" class="stretched-link"><img src="<%= pin.img_src %>" class="card-img-top"/></a>
	    <div class="card-body">
	      <h5 class="card-title"><%= pin.title %></h5>
	      <p class="card-text"><small class="text-muted">Created by <%= pin.user.username %></small></p>
	    </div>
	  </div>
	<% end %>
</div>
<%= link_to('New pin', new_pin_path, {:class => "btn btn-primary btn-lg"}) %>