<%= form_with scope: :park, url: pins_path, local: true do |form| %>

    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>
  
    <p>
      <%= form.label :image %><br>
      <%= form.text_field :img_url %>
    </p>
  
    <p>
      <%= form.submit %>
    </p>
  <% end %>