<h2><%= @board.name %></h2>

<h2>New Pin</h1>


<%= form_with scope: :pin, url: board_pins_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :image_url %><br>
    <%= form.text_field :image %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>