<%= form_with scope: :pin_new, url: pins_path, local: true do |form| %>

<!--  | title | description | url | -->

  <p>
	<%= form.label :title %><br>
	<%= form.text_field :title %>
  </p>

  <p>
	<%= form.label :description %><br>
	<%= form.text_area :description %>
  </p>

  <p>
	<%= form.label :url %><br>
	<%= form.text_field :url %>
  </p>

  <p>
	<%= form.submit %>
  </p>
<% end %>