<%= form_with scope: :pin, url: pins_path, local: true do |form| %>


<h1>Create a new pin</h1>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :img_url %><br>
    <%= form.text_field :img_url %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>