<h1>New Pin</h1>
<% if user_signed_in? %>
<%= link_to 'New Pin', new_pin_path %>
<% end %>
<%= simple_form_for @pin do |f| %>
  <%= f.input :title %>
  <%= f.input :image_url %>
  <%= f.button :submit %>

<% end %>



<%= link_to 'Back', pins_path %>
