<h1>New Pin</h1>


<%= form_with scope: :pin, url: pins_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :image_url %><br>
    <%= form.text_field :image %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>