<h1>New Pin</h1>

<%= form_with scope: :pin, url: pins_path, local: true do |form| %>

	<p>Board:</p>
  <%= form.collection_select :board_id, @boards, :id, :name %>
	<p>
  	<%= link_to 'Create New Board', new_board_path %>
	</p>

	<p>
    <%= form.label :Title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :ImageURL %><br>
    <%= form.text_field :imageURL %>
  </p>

  <p>
    <%= form.label :caption %><br>
    <%= form.text_area :caption %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>


<%= link_to 'Back', pins_path %>