<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @pin.user.username %>
</p>

<p>
  <strong>Title:</strong>
  <%= @pin.title %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @pin.img_url %>
</p>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
