<p>
  <strong>Url:</strong>
  <%= @pin.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @pin.title %>
</p>
<p>By <%= @pin.user.email %></p>
<%= link_to 'Edit', edit_pin_path(@pin) %>
<%= link_to 'Destroy', pin_path(@pin),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', root_path %>