<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @pin.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @pin.url %>
</p>

<%= render 'comments/form'  %>
<%= render 'comments/comment'%>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back to Dashboard', root_path %>
