<h1>View Pin Details: <%= @pin.id %></h1>

<p>
  <strong>Title:</strong>
  <%= @pin.title %>
</p>

<p>
    <%= image_tag(@pin.image_url.url, alt: 'Image') if @pin.image_url? %>
  <!-- <img src="<%= @pin.image_url %>" style="width: 300px; height: 200px" /> -->
</p>

<%= link_to 'Back to Pin Index', pins_path%>