<div class="jumbotron">
  <h1 class="display-4"><%= @pin.title %></h1>
  <img src="<%= @pin.img_src %>" class="img-fluid"/>
  <hr class="my-4">
  <p>Created by: <%= @pin.user.username %></p>
</div>
<% if user_signed_in? %>
	<%= link_to('Edit', edit_pin_path, {:class => "btn btn-warning btn-lg"}) %>
	<%= link_to('Destroy', pin_path(@pin), method: :delete, :class => "btn btn-danger btn-lg", data: {confirm: 'Are you sure?'})%>
<% end %>