<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @pin.title %>
</p>

<p>
  <strong>Img:</strong>
  <img src =<%= @pin.img %>>
</p>

<p>
  <strong>User:</strong>
  <%= @pin.user_id %>
</p>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>