<%= link_to @board.name, board_url(@board) %>

<div class="container ">
	<div class="card col-12">
	  <img src=<%= @pin.image %> class="card-img-top">
	  <div class="card-body">
	    <h5 class="card-title"><%= @pin.title %></h5>
	  </div>
	</div>
</div>

<%= form_with scope: :comment, url: pin_comments_path(@pin), class: "form-group",local: true do |form| %>
  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :body, class: "form-control" %>
  </p>

  <p>
    <%= form.submit 'Add Comment', :class => "btn btn-primary" %>
  </p>
<% end %>