<p id="notice"><%= notice %></p>

<h2>
  <strong><%= @pin.title %></strong>
</h2>

<p>
  <img src=<%= @pin.image %>>
</p>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
