<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pin.name %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @pin.img_url %>
</p>

<p>
  <strong>Display:</strong>
  <%= @pin.display %>
</p>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
