<div class="row">
	<div class="col-sm">
		<p id="notice"><%= notice %></p>

		<img class="img-fluid" src= <%= @pin.pin_url %> />

		<h3><%= @pin.title %></h3>

		<p>
		  by <%= link_to @pin.user.username, user_path(id: @pin.user_id) %>
		</p>

		<p><small class="text-muted"><%= @pin.created_at %></small></p>

		<%= link_to 'Edit', edit_pin_path(@pin) %> |
		<%= link_to 'Homepage', pins_path %>
	</div>

	<div class="col-sm">
		<%= form_with scope: :comment, model: [@pin, @comment], local: true do |form| %>

			<p>
				<%= form.label "Comment" %><br>
				<%= form.text_area :content, rows: 3, required: true %>
			</p>

		  <p>
		    <%= form.submit %>
		  </p>

		<% end %>

		<% @pin.comments.each do |comment| %>
		<div class="card">
			<div class="card-body">
				<h6 class="card-text"><%= comment.content %></h6>
				<p class="card-text">by <%= link_to comment.user.username, user_path(id: comment.user_id) %></p>
				<p><small class="text-muted"><%= comment.created_at %></small></p>
			</div>
		</div>
		<% end %>
	</div>
</div>