<div class="jumbotron">
  <h1 class="display-4"><%= @pin.title %></h1>
  <img src="<%= @pin.img_src %>" class="img-fluid"/>
  <p>Created by <%= @pin.user.username %> <%= distance_of_time_in_words(Time.now,@pin.created_at) %> ago</p>
	<hr class="my-4">
	<div class="container">
		<p class="lead"><strong><%= @pin.comments.count %></strong> Comment(s)</p>
		<% @pin.comments.reverse.each do |comment| %>
			<div class="card">
  			<div class="card-body">
    			<p class="card-text"><%= comment.body %></p>
    			<h6 class="card-subtitle mb-2 text-muted">Posted <%= distance_of_time_in_words(Time.now,comment.created_at) %> ago by <%= comment.user.username %></h6>
    			<% if comment.user == current_user %>
    				<%= link_to('Delete', pin_comment_path(@pin,comment), method: :delete, :class => "btn btn-danger btn-sm", data: {confirm: 'Are you sure?'})%>
  				<% end %>
  			</div>
			</div>
		<% end %>
<% if user_signed_in? %>
		<p>Leave a comment</p>
		<%= form_with scope: :comment, url: pin_comments_path(pin_id: @pin.id), local: true do |form| %>
			<div class="form-group">
			  <%= form.text_area(:body, {:class => "form-control"}) %>
			</div>
			<div class="form-group">
			  <%= form.submit({:class => "btn btn-primary"}) %>
			</div>
		<% end %>
	</div>
</div>
	<% if current_user.id == @pin.user_id %>
<%= link_to('Edit', edit_pin_path, {:class => "btn btn-warning btn-lg"}) %>
<%= link_to('Delete', pin_path(@pin), method: :delete, :class => "btn btn-danger btn-lg", data: {confirm: 'Are you sure?'})%>
	<% end %>
<% end %>