<%= link_to 'Home', root_path %>
<p>Title: <%= @pin.title %></p>

<p><%= image_tag (@pin.img_url), style: 'width: 200px; height: 170px' %></p>


<%= form_with scope: :comment, url: comments_path, local: true do |form| %>

<h1>Add a comment</h1>

  <p>
    <%= form.label :body %><br>
    <%= form.text_field :body %>
    <%= form.hidden_field :pin_id, value: @pin.id %>
  </p>


    <%= form.submit %>
  </p>
<% end %>

<h2>Comments</h2>

<% @comments.each do |comment| %>
<p>Comment: <%= comment.body %></p>

<% end %>