<div class="card" style="width: 25rem;">
	<img class="card-img-top" src=<%= @pin.image_url %> alt= <% @pin.title %> />
  <div class="card-body">
    <div class='row'>
    	<div class='col-7'>
	    	<h4 class="card-title"><%= @pin.title %></h4>
	    	<p class="text-muted"><em>Pinned by <%= @pin.user.email.split("@")[0] %></em></p>
	    </div>
	    <% if user_signed_in? && current_user.id == @pin.user_id %>
		    <div class='col-2'>
			    <%= link_to 'Edit', edit_pin_path(@pin), :class => "btn btn-info" %>
			  </div>
			  <div class='col-2'>
				  <%= link_to 'Delete', pin_path(@pin), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="card-footer">
		<div class="row">
			<div class="col-6">
				<h5>Comments</h5>
			</div>
			<div class="col-6 d-flex justify-content-end">
				<%= link_to 'Add comment', new_pin_comment_path(@pin), :class => "btn btn-secondary" %>
			</div>
		</div>
		<br>
    <ul class="list-group list-group-flush">
	    <% if @pin.comment.length != 0 %>
		    <% @pin.comment.each do |comment| %>
		    	<p><strong><%= comment.user.email %></strong> says:</p>
		    	<li class="list-group-item"><%= comment.body %></li>
		    	<li class="list-group-item text-muted"><em>Posted on <%= comment.created_at.strftime("%d %b %Y, %H:%M HRS") %></em></li>
		    	<% if user_signed_in? && current_user.id == comment.user_id %>
			    	<div class='row' style="margin-top:5px">
				  		<div class='col'>
		    				<%= link_to 'Edit', edit_comment_path(comment), :class => "btn btn-info" %>
		    				<%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
						  </div>
						</div>
		    	<% end %>
		    	<br>
			  <% end %>
			<% else %>
				<p><em>No comments</em></p>
			<% end %>
    </ul>
  </div>
</div>
<br>
<%= link_to 'Back', pins_path, :class => "btn btn-dark" %>