<p id="notice"><%= notice %></p>
<h2>You've created a new pin!</h2>
<hr/>
<ul>
  <li><%=@pin.caption%></li>
  <li><%=@pin.category%></li>
  <li><img src ="<%=@pin.photo_url%>"/></li>
</ul>
<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
