<h2>My Comments</h2>
<br>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Sort by
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="padding:5px">
  	<li><%= link_to "Recent", comments_path(sort_by: "recent") %></li>
  	<li><%= link_to "Pin (A-Z)", comments_path(sort_by: "pin_asc") %></li>
  	<li><%= link_to "Pin (Z-A)", comments_path(sort_by: "pin_desc") %></li>
  </ul>
		</div>
<br>
<% @comments.each do |comment| %>
	<div class="card-header">
		<div class='row'>
			<div class='col-10'>
				<h5>Pin: <%= link_to comment.pin.title, pin_path(comment.pin_id) %></h5>
			  <ul class="list-group list-group-flush">
		    	<li class="list-group-item"><%= comment.body %></li>
		    	<li class="list-group-item text-muted"><em>Posted on <%= comment.created_at.strftime("%d %b %Y, %H:%M HRS") %></em></li>
			  </ul>
			  <div class='row' style="margin-top:5px">
			  	<div class='col'>
				  	<%= link_to 'Edit', edit_comment_path(comment), :class => "btn btn-info" %>
				  	<%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
				  </div>
				</div>
			</div>
			<div class='col-2'>
				<%= image_tag comment.pin.image_url, :style => 'width:10em' %>
			</div>
		</div>
	</div>
	<br>
<% end %>