<h2>New Comment</h2>
<br>
<div class="card" style="width: 25rem;">
	<img class="card-img-top" src=<%= @pin.image_url %> alt= <% @pin.title %> />
  <div class="card-body">
	  <h4 class="card-title"><%= @pin.title %></h4>
	  <p class="text-muted"><em>Pinned by <%= @pin.user.email.split('@')[0]%></em></p>
	</div>
	<div class="card-footer">
    <%= form_with scope: :comment, url: pin_comments_path, local: true do |form| %>
    	<p>
		    <%= form.label :Enter_your_comment %><br>
		    <%= form.text_area :body, style:"width:100%" %>
		    <%= form.submit :class => "btn btn-primary" %>
		  </p>
    <% end %>
  </div>
</div>
<br>
<%= link_to 'Back', pin_path(@pin), :class => "btn btn-dark" %>