<p id="notice"><%= notice %></p>

<h3><%= @user.username %></h3>
<div class="container">
	<div class="row">
		<% @user.pin.each do |pin| %>
	  <div class="col-sm-6">
			<div class="card">
				<img src=<%= pin.pin_url %> class="card-img-top" alt=<%= pin.title %>>
				<div class="card-body">
					<h5 class="card-title"><%= pin.title %></h5>
					<h6 class="card-subtitle mb-2 text-muted"><%= pin.created_at %></h6>
					<%= link_to 'Show', pin %> | <%= link_to 'Edit', edit_pin_path(pin) %> |
					<%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %><hr>
					<% pin.comments.each do |comment| %>
					<div class="card">
						<div class="card-body">
							<p class="card-text"><%= comment.content %></p>
							<p class="card-text">by <%= link_to comment.user.username, user_path(id: comment.user_id) %></p>
							<p><small class="text-muted"><%= comment.created_at %></small></p>
						</div>
					</div>
					<% end %>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>
<%= link_to 'Homepage', pins_path %>