<h1>New tag</h1>

<%= form_with scope: :tag, url: tags_path, local: true do |form| %>

   <p>
    <%= form.label :tag_name %><br>
    <%= form.text_field :name %>
  </p>

  <p class="mt-2">
    <%= form.submit %>
  </p>
<% end %>

<p><%= link_to 'Home', root_url %></p>