<h1>Add tags</h1>

<%= form_with scope: :tag, url: tags_path, local: true do |form| %>

   <p>
    <%= form.label :tag_name %><br>
    <%= form.text_field :name %>
  </p>

  <%= collection_check_boxes(:pin, :pin_ids, @pins, :id, :title) do |b| %>
    <img class="pin-img" src="<%= b.object.url %>">
    <%=  b.label(:"data-value" => b.value) { b.check_box + " " + b.text } %>
  <% end %>

  <p class="mt-2">
    <%= form.submit %>
  </p>
<% end %>

<p><%= link_to 'Home', root_url %></p>