<h1><%= @board.name %></h1>
<h2>The board pins:</h2>
<div>
  <% @pins.each_with_index do |pin, ix| %>
      <% if ix % 3 == 0 %>
        <div class="row">
      <% end %>
      <div class="col m4">
        <div class="card medium">
          <div class="card-image">
            <%= image_tag pin.img_url %>
            <span class="card-title"><%= pin.title %></span>
          </div>
          <div class="card-content">
            <p>Posted by <%= pin.user.username %> <%= time_ago_in_words pin.created_at %> ago.</p>
            <hr/>
            <p>
              <%= link_to 'Show', pin, class: "waves-effect waves-light btn-small"%>
              <% if user_signed_in? && pin.user_id == current_user.id %>
                <%= link_to 'Edit', edit_pin_path(pin), class: "waves-effect waves-light btn-small" %>
                <%= link_to 'Destroy',
                  pin, method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: "waves-effect waves-light btn-small" %>
              <% end %>
            </p>
            <hr/>
              <% pin.tags.each do |tag| %>
                <div class="chip">
                  <%= tag.tag %>
                </div>
              <% end %>
          </div>
        </div>
      </div>
      <% if ix % 3 == 2 %>
        </div>
      <% end %>
    <% end %>
</div>
