<nav class="navbar navbar-expand-lg navbar-dark rounded mb-5" style="background-color: #030928;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
    <ul class="navbar-nav">

      <li class="nav-item active">   
        <%= link_to "Pins", pins_path, class:"nav-link" %>
      </li>

    <% if !user_signed_in? %>
      <li class="nav-item active">   
        <%= link_to "Login", new_user_session_path, class:"nav-link" %>
      </li>
    <% end %>  
    <% if user_signed_in? %>    
      <li class="nav-item active">
        <%= link_to 'Logout', destroy_user_session_url, method: :delete, class:"nav-link"%>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add</a>
        <div class="dropdown-menu" aria-labelledby="dropdown10">
          <%= link_to 'New Pin', new_pin_path, class:"dropdown-item" %>
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Dashboard</a>
        <div class="dropdown-menu" aria-labelledby="dropdown10">
          <%= link_to 'My Comments', comments_user_path, class:"dropdown-item" %>
          <%= link_to 'My Pins', pins_user_path, class:"dropdown-item" %>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
</nav>
