<p id="notice"><%= notice %></p>

<!-- <h1>Pins</h1> -->
<%-#<%= link_to 'New Pin', new_pin_path %>

<div class="container ">
	<% @pins.each_slice(3) do |pin| %>
		<div class="card-row d-flex justify-content-around my-5">

			<% pin.each do |card| %>
			<div class="card float-left justify-content-around" style="width: 18rem;">

			  <img src="<%= card.imgUrl %>" class="card-img-top" style="width: auto; height:200px;" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"><%= card.title %></h5>

			    <p class="card-text"><%= card.description %></p>
			  </div>

			  <div class="card-body">
			    <a class="card-link"><%= link_to 'Show', card %></a>
			    <a class="card-link"> <%= link_to 'Edit', edit_pin_path(card) %> </a>
			    <a class="card-link"> <%= link_to 'Destroy', pin_path(card), method: :delete, data: { confirm: 'Are you sure?' } %> </a>
			  </div>

			</div>
			<%end%>

		</div>
		<%end%>
		<br/>

</div>
<br/>