<p id="notice"><%= notice %></p>
<h1>Pin</h1>

<div class="card mb-4" style="width: 18rem;">
  <img class="card-img-top" src=<%= @pin.image %> alt="Card image cap">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><h5>
      Title: <%= @pin.title %>
    </h5></li>
    <li class="list-group-item">Comments</li>
    <li class="list-group-item">More Comments</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Hashtags</a>
    <a href="#" class="card-link">Another hashtag</a>
  </div>
</div>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
