<p id="notice"><%= notice %></p>


<div class="card" style="width: 18rem;">

  <img src="<%= @pin.imgUrl %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= @pin.title %></h5>
    <p class="card-text"><%= @pin.description %></p>
  </div>


</div>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>