<%= form_with scope: :comment, url: pin_comments_path, local: true do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content, "Content:" %><br/>
    <%= form.text_area :content, class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Create Comment", class:"btn btn-primary" %>
  </div>
<% end %>
