<h1>Edit Comment</h1>
<%# <%= render 'form', comment: @comment %>

<% if @comment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
    <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with scope: @comment, url: pin_comment_path, method: "patch", local: true do |form| %>
  <div class="field">
    <%= form.label :content, "Content:" %><br/>
    <%= form.text_area :content, class:"form-control" %>
  </div>
  <div class="actions">
    <%= form.submit "Submit", class:"btn btn-primary" %>
  </div>
<% end %>
