<!DOCTYPE html>
<html>
  <head>
    <title>Pinspiration</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class = "bg-white ml-0 mr-0">
    <nav class="navbar navbar-white bg-white d-flex pt-3 pb-3">
      <div class = "d-flex flex-row mr-auto">
      <h1 class="navbar-brand">
        <img src="<%= image_url 'Pinteresting.png' %>" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy"/>
        <span class= "c_font">Pinteresting</span>
      </h1>
      <% if user_signed_in? %>
      <a class="nav-link h5 c_font text-white btn btn-dark rounded-pill bg-black" href="/">Dashboard </a>
      <%= link_to 'New Pin', new_pin_path , class:"nav-link h5 c_font text-white btn btn-dark rounded-pill bg-black ml-4"%>
      </div>
      <div class = "d-flex flex-row align-items-center">
      <h6 class = "mr-3">Logged In: <%= current_user.email%></h6>
      <%= link_to 'Log Out', destroy_user_session_url, method: :delete, class:"nav-link h5 c_font text-white btn btn-dark rounded-pill bg-black" %>
      <% end %>
      <div>
      </nav>
  <div class = "container col-11 ml-auto mr-auto">
    <%= yield %>
    </div>
  </body>
</html>
