<!DOCTYPE html>
<html>
  <head>
    <title>Pinspiration</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

  	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/sign_in">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboards">Summary board</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/boards">Boards</a>
      </li>

       <li class="nav-item">
        <a class="nav-link" href="/tags">Tags</a>
      </li>
      <li class="nav-item">
        <%= link_to 'Log out', destroy_user_session_url, method: :delete %>
      </li>
    </ul>
  </div>
</nav>


  	<div class="container">
    <%= yield %>
    </div>
  </body>
</html>