<!DOCTYPE html>
<html>
  <head>
    <title>Pinspiration</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <%= link_to 'Pinspiration', '/', class: 'brand-logo' %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%= link_to 'All Pins', pins_path %></li>
          </ul>
      </div>
    </nav>


    <div class="container">
      <% if current_user %>
        <h4>Hello <%= current_user.username %></h4>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
