<!DOCTYPE html>
<html>
  <head>
    <title>Pinterest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="#" class="navbar-brand">Pinterest</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="/comments" class="nav-item nav-link">Dashboard</a>
                <a href="#" class="nav-item nav-link">Products</a>
            </div>
            <form class="form-inline ml-auto">
                <input type="text" class="form-control mr-sm-2" placeholder="Search">
                <button type="submit" class="btn btn-outline-light">Search</button>
            </form>
        </div>
    </nav>
    <%= yield %>

  </body>
<!-- Footer -->
<footer class="page-footer font-small blue fixed-bottom" style="background-color: #1a7ac8">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color: #a3c6e7">© 2020 Copyright:
    <a style="color:white" href="https://mdbootstrap.com/"> Jordan Soh</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</html>
