<!DOCTYPE html>
<html>
  <head>
    <title>Pinspiration</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light justify-content-between">
      <ul class="nav nav-tabs">
        <li class="navbar-brand nav-item"> P </li>
        <li class="nav-item"><%= link_to 'Home', root_path, class:"nav-link" %></li>
      </ul>
      <form class="form-search">
        <input type="text" class="form-control input-medium search-query" placeholder="Search" aria-label="Search">
      </form>
      <div class="logging">
        <% if user_signed_in? %>
          <a><%= link_to 'log out', destroy_user_session_url, method: :delete, class: "btn btn-outline-primary log-out" %></a>
        <% else %>
          <%= link_to 'log in', new_user_session_url, class: "btn btn-outline-primary log-in" %>
        <% end %>
      </div>
    </nav>
    <div class="container">
      <div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
          <%= yield %>
      </div>
    </div>
  </body>
</html>
