<!DOCTYPE html>
<html>
  <head>
    <title>Pinspiration</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  	<ul>
  <li><%= link_to 'Pinspiration', pins_path %></li>
  <li><%= link_to 'Create pin', new_pin_path %></li>
  <li style="float:right"><%= link_to 'logout', destroy_user_session_url, method: :delete %></li>
</ul>
    <%= yield %>
  </body>
</html>