<!DOCTYPE html>
<html>
  <head>
    <title>Pinspiration</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  	<ul>
  	<% if user_signed_in? %>
	 <%= render :partial =>"shared/signin"%>
		<%else%>
		<%= render "shared/signout"%>
			<% end %>
  	</ul>
    <%= yield %>

  </body>
</html>